# GNU global tags
GTAGS
GRTAGS
GSYMS
GPATH

# Python byte-compile file
__pycache__/
*.py[co]

build/
install/
log/
waypoint_planner/.vscode/

# editor backup files
*~
\#*\#

# backup files
*.bak

# Eclipse
.cproject
.project
.pydevproject
.settings/

# Visual Studio Code
.vscode/

# CLion
.idea/
cmake-build-debug/

# clang-format
.clang-format

# ROSBag files
*.bag

# Environments
.env
.venv
env/
venv/
ENV/

# Autoware Resources
*.pcd
*.bag
*.csv

/.metadata/

# VCS-populated Folders
src/
.vscode/settings.json
costmap_generator/.vscode/settings.json
