<?xml version="1.0"?>
<launch>
  <arg name="load_csv" default="false" />
  <arg name="multi_lane_csv" default="/tmp/driving_lane.csv" />
  <arg name="replanning_mode" default="True" />
  <arg name="realtime_tuning_mode" default="True" />
  <arg name="resample_mode" default="True" />
  <arg name="resample_interval" default="1.0" />
  <arg name="replan_curve_mode" default="True" />
  <arg name="replan_endpoint_mode" default="True" />
  <arg name="velocity_max" default="20" />
  <arg name="radius_min" default="6" />
  <arg name="velocity_min" default="4" />
  <arg name="accel_limit" default="0.5" />
  <arg name="decel_limit" default="0.3" />
  <arg name="lateral_accel_limit" default="2.0" />
  <arg name="use_decision_maker" default="false" />
  <arg name="subscribe_waypoints" default="final_waypoints" />
  <arg name="publish_waypoints" default="final_waypoints_for_MPC" />


  <node pkg="waypoint_maker" type="waypoint_replanner" name="waypoint_replanner_for_final_wp" output="screen">
    <param name="replanning_mode" value="$(arg replanning_mode)" />
    <param name="realtime_tuning_mode" value="$(arg realtime_tuning_mode)" />
    <param name="resample_mode" value="$(arg resample_mode)" />
    <param name="resample_interval" value="$(arg resample_interval)" />
    <param name="replan_curve_mode" value="$(arg replan_curve_mode)" />
    <param name="replan_endpoint_mode" value="$(arg replan_endpoint_mode)" />
    <param name="velocity_max" value="$(arg velocity_max)" />
    <param name="radius_min" value="$(arg radius_min)" />
    <param name="velocity_min" value="$(arg velocity_min)" />
    <param name="accel_limit" value="$(arg accel_limit)" />
    <param name="decel_limit" value="$(arg decel_limit)" />
    <param name="lateral_accel_limit" value="$(arg lateral_accel_limit)" />
    <param name="use_decision_maker" value="$(arg use_decision_maker)" />
  </node>
</launch>
